.container-register {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: stretch;
  background: var(--color-primary);
}

.content-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 700px;
  padding-top: 32px;
  background: var(--color-background);
}

@keyframes appearFromLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animation-register {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  animation: appearFromLeft 1s;
}

.animation-register form {
  margin: 32px 0;
  width: 340px;
  text-align: center;
}

.animation-register h1 {
  margin-bottom: 2rem;
  line-height: 3.6rem;
  color: var(--color-text-title);
  font-weight: 600;
  font-family: Poppins;
  text-align: start;
}

.animation-register p {
  margin-bottom: 4.2rem;
  font-family: Poppins;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--color-text-base);
  text-align: start;
  width: 180px;
}

.input-login + .input-login {
  border-radius: 0;
}

.input-login:nth-child(6n) {
  border-radius: 0 0 0.8rem 0.8rem !important;
}

.animation-register button {
  width: 100%;
  height: 5.6rem;
  background: var(--color-secundary);
  color: var(--color-button-text);
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  font: 700 1.6rem Archivo;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.2s;
  margin-top: 3.2rem;
  outline: 0;
}

.animation-register button:hover {
  background: var(--color-secundary-dark);
}

.background-register {
  flex: 1;
  background: url("../../assets/images/background-login.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
  width: 90%;
  height: 90%;
  display: none;
}

.background-register .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.text img {
  width: 70%;
}

.text h2 {
  color: var(--color-text-in-primary);
  width: 50%;
}

@media (min-width: 1024px) {
  .background-register {
    display: block;
  }
}
