.background-success {
  width: 100vw;
  height: 100vh;
  background: url("../../assets/images/success-background.svg") no-repeat center var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.background-success h1 {
  font-weight: 700;
  font-size: 4.8rem !important;
  color: var(--color-title-in-primary);
  line-height: 2.4em;
}

.background-success p {
  font-size: 1.6rem;
  color: var(--color-text-in-primary);
  line-height: 2.6rem;
}

.lds-dual-ring {
  display: inline-block;
  width: 10rem;
  height: 10rem;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 6.4rem;
  height: 6.4rem;
  margin: 0.8rem;
  border-radius: 50%;
  border: 0.6rem solid var(--color-secundary);
  border-color: var(--color-secundary) transparent var(--color-secundary) transparent;
  animation: lds-dual-ring 1.5s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
